<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> {{mytitle}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background-color: red;">
    <div class="container">
        {{{body}}}
    </div>
<p>
    <h1> Hello Friend :{{{name_1}}} </h1>
</p>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
