<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> {{{title}}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>
   var title = {{{title}}};
   
</script>           
</head>
<h1 id="title">My First Heading **hello.hbs</h1>
<body style="background-color: orange;">
    <div class="container">
        {{{body}}}
         <label for=title>my test</label>
    </div>
    <form action="/" method="post">
    <div>
        Speak to the chatbot below: <br>
        <label id=labname>Enter your name:</label>
        <input type="text" name="name_1">
        <input type="submit" value="Submit">
    </div>
    </form>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
